<div class="container">
  <div class="app-wrapper">
    <h1 class="header">Angular Todo App</h1>

    <form [formGroup]="form" (submit)="addTask()">
      <label class="label" for="taskDescription">Task Description : </label>
      <input
        type="text"
        id="taskDescription"
        [(ngModel)]="taskDescription"
        class="task-input"
        name="taskDescription"
        pattern="^[^\s0-9].*$"
        formControlName="TaskDescription"
        required
      />
      <button type="submit" class="button-add">Add Task</button>
    </form>

    <hr />

    <h3 class="Incomplete-Task">Incomplete Task</h3>
    <ul>
      <li class="list" *ngFor="let task of tasks; let i = index">
        {{ task.description }} -
        <button type="button" class="btn btn-success" (click)="editTask(i)">
          Edit
        </button>
        <button
          type="button"
          class="btn btn-danger btn-m"
          (click)="deleteTask(i)"
        >
          Delete
        </button>
        <button type="button" class="btn btn-primary" (click)="completeTask(i)">
          Complete
        </button>
      </li>
    </ul>

    <hr />

    <h3 class="CompleteTask">Complete Task</h3>
    <ul>
      <li class="list" *ngFor="let task of completedTask">
        {{ task.description }}
      </li>
    </ul>
  </div>
</div>
